body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #000;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}


.container {
  padding-top: 10%;
  max-width: 300px;
  margin: 0 0 2em 0;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #696a6f;
  font-size: 1.5em;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

.links {
  display: flex;
  padding-left: 1em;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li::before {
  content: '·';
  display: inline-block;
  border-radius: 100%;
  margin: 0 0.5em 0 0;
  font-weight: bold;
  font-size: 2em;
  vertical-align: middle;
  line-height: 20px;
}

.green li::before {
  color: #24d05a;
}

.pink li::before {
  color: #eb4888;
}

.yellow li::before {
  color: #e9bc3f;
}

.blue li::before {
  color: #10a2f5;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #e9bc3f;
}

body.dark-mode {
  background: #24252d;
}

body.dark-mode p,
body.dark-mode a,
body.dark-mode h1 {
  color: #cacacc;
}

body.dark-mode a:hover {
  color: #e9bc3f;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 17px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
